.task {
  background: var(--gray-400);
  padding: 1rem;
}

.task input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--gray-700);
  border: 0.164375rem solid var(--blue);
  border-radius: 50%;
}

.task input[type="checkbox"]:checked {
  background: var(--purple-dark);
  background-image: url(../assets/checked.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}