.task {
  background: var(--gray-400);
  padding: 1rem;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--gray-700);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task input[type="checkbox"] {
  width: 1.5rem;
}